<%# How do you want to live? Step 3 %>
<h1>What do you offer?<</h1>

<%= form_with model: @flatmate, url: flatmates_path, method: :post do |f| %>
<%= hidden_field_tag 'step', '3'%>
  <div>
    <%= f.label :room_size_min, "Room size (m²) - Min" %>
    <%= f.number_field :room_size_min, min: 0 %>

    <%= f.label :room_size_max, "Room size (m²) - Max" %>
    <%= f.number_field :room_size_max, min: 0 %>
  </div>


  <div>
    <%= f.label :furnished, "Furnished?" %>
    <%= f.select :furnished, ['Unfurnished', 'Furnished', 'Doesn\'t matter'], { prompt: "Select an option" } %>
  </div>

  <%= f.submit "CONTINUE" class: "btn btn-warning" %>
<% end %>
