<%# How do you want to live? Step 2 %>
<h1>What do you offer?</h1>

<%= form_with(model: @host, url: host_path(@host), method: :patch, local: true) do |form| %>
<%= hidden_field_tag 'step', '2'%>
  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control", placeholder: "Enter the city" %>
  </div>

  <div class="form-group">
    <%= form.label :district %>
    <%= form.text_field :district, class: "form-control", placeholder: "Enter the district" %>
  </div>

  <div class="form-group">
    <%= form.label :rent, " Rent" %>
    <%= form.number_field :rent, class: "form-control", placeholder: "Enter the rent" %>
  </div>

  <div class="form-group">
    <%= form.label :entry_date, "Preferred Entry Date" %>
    <%= form.date_field :entry_date, class: "form-control", placeholder: "Select the preferred entry date" %>
  </div>

  <div class="form-group">
    <%= form.submit "CONTINUE", class: "btn btn-warning" %>
  </div>
<% end %>
<%= console %>
