<!-- app/views/hosts/index.html.erb -->
<h1>Available Hosts</h1>

<% @hosts.each do |host| %>
  <div class="host-profile">
    <h2><%= host.user.email %> - <%= host.city %></h2>
    <p><strong>About the Host:</strong> <%= host.living_preference.aboutme %></p>
    <p><strong>Interests:</strong> <%= host.living_preference.interest %></p>
    <p><strong>Cleanliness:</strong> <%= host.living_preference.cleanliness.humanize %></p>
    <p><strong>Smoking Preference:</strong> <%= host.living_preference.smoking.humanize %></p>
    <%= image_tag host.profile_picture_url if host.profile_picture_url.present? %>

    <h3>Apartment Pictures:</h3>
    <% host.apartment_picture_urls.each do |url| %>
      <%= image_tag url, class: 'apartment-image' %>
    <% end %>

    <!-- Mapbox Karte -->
    <div id='map-<%= host.id %>' style='width: 100%; height: 300px;'></div>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZWJldHVyayIsImEiOiJjbHo5bXN4eTMwY3g0MnFwamFpMHg2OWJ3In0.Ydo4NwfJpB2HimOC98ckCg';
      const map = new mapboxgl.Map({
        container: 'map-<%= host.id %>',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= host.longitude %>, <%= host.latitude %>],
        zoom: 12
      });

      new mapboxgl.Marker()
        .setLngLat([<%= host.longitude %>, <%= host.latitude %>])
        .addTo(map);
    </script>

    <%= link_to 'View Profile', host_path(host), class: 'btn btn-primary' %>
    <%= link_to 'Like', host_likes_path(host), method: :post, class: 'btn btn-success' %>
    <%= link_to 'Dislike', host_dislikes_path(host), method: :post, class: 'btn btn-danger' %>
  </div>
<% end %>
