<h1 class="headyou" ><%= @host.first_name %>'s Profile</h1>

<div class="container">
  <p><strong>City:</strong> <%= @host.city %></p>
  <p><strong>Address:</strong> <%= @host.full_street_address %></p>
  <p><strong>About the Host:</strong> <%= @host.living_preference.aboutme %></p>
  <p><strong>Interests:</strong> <%= @host.living_preference.interest %></p>
  <p><strong>Cleanliness:</strong> <%= @host.living_preference.cleanliness.humanize %></p>
  <p><strong>Smoking:</strong> <%= @host.living_preference.smoking.humanize %></p>
  <p><strong>Partying:</strong> <%= @host.living_preference.partying.humanize %></p>
  <p><strong>Age Preference:</strong> <%= @host.living_preference.age.humanize %></p>
  <p><strong>Furnished:</strong> <%= @host.living_preference.furnished.humanize %></p>
  <p><strong>Dishwasher:</strong> <%= @host.living_preference.dishwasher.humanize %></p>
  <p><strong>Washing Machine:</strong> <%= @host.living_preference.washingmaschine.humanize %></p>
  <p><strong>Balcony:</strong> <%= @host.living_preference.balcony.humanize %></p>
  <p><strong>Kitchen:</strong> <%= @host.living_preference.kitchen.humanize %></p>
  <p><strong>Bathtub:</strong> <%= @host.living_preference.bathtub.humanize %></p>

<%= cl_image_tag(@host.profile_photo.key, class: 'img-fluid rounded mb-3', alt: 'Profile Picture') if @host.profile_photo.attached? %>

<h2>Apartment Pictures</h2>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @host.photos.each_with_index do |photo, index| %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @host.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= cl_image_tag photo.key, class: 'd-block w-100 rounded', alt: 'Apartment Picture' %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Mapbox Karte -->
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="d-flex justify-content-between mt-3">
    <%= link_to 'Like', host_likes_path(@host), method: :post, class: 'btn btn-success btn-lg' %>
    <%= link_to 'Dislike', host_dislikes_path(@host), method: :post, class: 'btn btn-danger btn-lg' %>
  </div>
</div>

<style>
  /* Ensuring the carousel images fit nicely on a mobile screen */
  @media (max-width: 430px) {
    .carousel-inner img {
      height: auto;
      max-height: 600px; /* Slightly shorter than the screen height of iPhone 14 Pro Max */
    }

    h1 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
    }

    .btn-lg {
      width: 45%;
      font-size: 1rem;
    }
  }
</style>
<%= link_to 'Like', host_likes_path(@host), method: :post, class: 'btn btn-success', data: { turbo_method: :post} %>
<%= link_to 'Dislike', host_dislikes_path(@host), method: :post, class: 'btn btn-danger', data: { turbo_method: :post} %>
