<!-- app/views/hosts/show.html.erb -->
<h1><%= @host.user.email %>'s Profile</h1>

<p><strong>City:</strong> <%= @host.city %></p>
<p><strong>About:</strong> <%= @host.living_preference.aboutme %></p>
<p><strong>Interests:</strong> <%= @host.living_preference.interest %></p>
<p><strong>Cleanliness:</strong> <%= @host.living_preference.cleanliness.humanize %></p>
<p><strong>Smoking:</strong> <%= @host.living_preference.smoking.humanize %></p>
<%= image_tag @host.profile_picture_url if @host.profile_picture_url.present? %>

<h2>Apartment Pictures</h2>
<% @host.apartment_picture_urls.each do |url| %>
  <%= image_tag url, class: 'apartment-image' %>
<% end %>

<%= link_to 'Like', host_likes_path(@host), method: :post, class: 'btn btn-success' %>
<%= link_to 'Dislike', host_dislikes_path(@host), method: :post, class: 'btn btn-danger' %>
