<!-- app/views/hosts/show.html.erb -->
<h1><%= @host.user.email %>'s Profile</h1>

<p><strong>City:</strong> <%= @host.city %></p>
<p><strong>Address:</strong> <%= @host.full_street_address %></p>
<p><strong>About:</strong> <%= @host.living_preference.aboutme %></p>
<p><strong>Interests:</strong> <%= @host.living_preference.interest %></p>
<p><strong>Cleanliness:</strong> <%= @host.living_preference.cleanliness.humanize %></p>
<p><strong>Smoking:</strong> <%= @host.living_preference.smoking.humanize %></p>
<%= image_tag @host.profile_picture_url if @host.profile_picture_url.present? %>

<h2>Apartment Pictures</h2>
<% @host.apartment_picture_urls.each do |url| %>
  <%= image_tag url, class: 'apartment-image' %>
<% end %>

<!-- Mapbox Karte -->
<div id='map' style='width: 100%; height: 300px;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZWJldHVyayIsImEiOiJjbHo5bXN4eTMwY3g0MnFwamFpMHg2OWJ3In0.Ydo4NwfJpB2HimOC98ckCg';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= @host.longitude %>, <%= @host.latitude %>],
    zoom: 12
  });

  new mapboxgl.Marker()
    .setLngLat([<%= @host.longitude %>, <%= @host.latitude %>])
    .addTo(map);
</script>

<%= link_to 'Like', host_likes_path(@host), method: :post, class: 'btn btn-success' %>
<%= link_to 'Dislike', host_dislikes_path(@host), method: :post, class: 'btn btn-danger' %>
