<div class="flatmate-profile">
  <h1 class="headyou"><%= flatmate.first_name %></h1>
  <div class="card">
    <%= image_tag flatmate.profile_picture_url if flatmate.profile_picture_url.present? %>
  </div>

  <% if flatmate.living_preference.present? %>
    <div class="card">
      <p><strong>About:</strong>
      <br><%= flatmate.living_preference.aboutme %></p>
    </div>

    <div class="card">
      <p><strong>Interests:</strong>
      <br><%= flatmate.living_preference.interest %></p>
    </div>

    <div class="card">
      <p><strong>Cleanliness:</strong>
      <br><%= flatmate.living_preference.cleanliness.humanize %></p>
      <p><strong>Smoking Preference:</strong>
      <br><%= flatmate.living_preference.smoking.humanize %></p>
      <p><strong>Partying:</strong>
      <br><%= flatmate.living_preference.partying.humanize %></p>
      <p><strong>Age Preference:</strong>
      <br><%= flatmate.living_preference.age.humanize %></p>
    </div>

    <div class="card">
      <p><strong>Furnished:</strong>
      <br><%= flatmate.living_preference.furnished.humanize %></p>
      <p><strong>Dishwasher:</strong>
      <br><%= flatmate.living_preference.dishwasher.humanize %></p>
      <p><strong>Washing Machine:</strong>
      <br><%= flatmate.living_preference.washingmaschine.humanize %></p>
      <p><strong>Balcony:</strong>
      <br><%= flatmate.living_preference.balcony.humanize %></p>
      <p><strong>Kitchen:</strong>
      <br><%= flatmate.living_preference.kitchen.humanize %></p>
      <p><strong>Bathtub:</strong>
      <br><%= flatmate.living_preference.bathtub.humanize %></p>
    </div>
  <% else %>
    <p>This flatmate has not set their living preferences yet.</p>
  <% end %>

  <div class="actions">
    <%= link_to 'View Profile', flatmate_path(flatmate), class: 'btn btn-primary' %>
    <%= link_to 'LIKE', flatmate_likes_path(flatmate), class: "btn btn-success", data: { turbo_method: :post} %>
    <%= link_to 'DISLIKE', flatmate_dislikes_path(flatmate), class: "btn btn-danger", data: { turbo_method: :post} %>
  </div>
</div>
