<div class="profile">
  <div class="card">
    <%= cl_image_tag (flatmate.profile_photo.key if flatmate.profile_photo.attached?), class: "w-100" %>
  </div>

  <div class="card">
    <div class="h-profile">
      <div class="d-flex align-items-center">
        <h4 class="headprofile"><%= flatmate.first_name %></h4>
        <span class="info"><%= flatmate.age %></span>
        <span class="info"><%= flatmate.pronouns %></span>
      </div>
      <% if flatmate.living_preference.present? %>
        <p><%= flatmate.living_preference.interest %></p>
        <p><%= flatmate.living_preference.aboutme %></p>
    </div>
  </div>

  <div class="card d-block">
    <h4 class="headprofile">Living Preferences</h4>
    <p class="pille">Cleanliness <%= flatmate.living_preference.cleanliness.humanize %></p>
    <p class="pille">Smoking <%= flatmate.living_preference.smoking.humanize %></p>
    <p class="pille">Partying <%= flatmate.living_preference.partying.humanize %></p>
    <p class="pille">Age <%= flatmate.living_preference.age.humanize %></p>
  </div>

  <div class="card d-block">
    <h4 class="headprofile">Desired Flat Features</h4>
    <p class="pille"><%= flatmate.living_preference.furnished.humanize %></p>
    <p class="pille"><%= flatmate.living_preference.dishwasher.humanize %></p>
    <p class="pille"><%= flatmate.living_preference.washingmaschine.humanize %></p>
    <p class="pille"><%= flatmate.living_preference.balcony.humanize %></p>
    <p class="pille"><%= flatmate.living_preference.kitchen.humanize %></p>
    <p class="pille"><%= flatmate.living_preference.bathtub.humanize %></p>
  </div>

  <% else %>
    <p>This flatmate has not set their living preferences yet.</p>
  <% end %>

  <div class="actions">
    <%= link_to flatmate_likes_path(flatmate), class: "like", data: { turbo_method: :post } do %>
      <svg width="154" height="154" viewBox="0 0 154 154" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M121.548 46.6436L61.4754 106.716L31.439 76.68" stroke="#023145" stroke-width="9.01096" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>

    <%= link_to flatmate_dislikes_path(flatmate), class: "dislike", data: { turbo_method: :post } do %>
      <svg width="153" height="153" viewBox="0 0 153 153" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M111.751 46.4006C112.089 46.0624 112.358 45.6608 112.541 45.2189C112.724 44.7769 112.818 44.3032 112.818 43.8248C112.818 43.3465 112.724 42.8728 112.541 42.4308C112.358 41.9889 112.089 41.5873 111.751 41.2491C111.413 40.9108 111.011 40.6425 110.569 40.4594C110.127 40.2764 109.654 40.1821 109.175 40.1821C108.697 40.1821 108.223 40.2764 107.781 40.4594C107.339 40.6425 106.938 40.9108 106.599 41.2491L76.4089 71.444L46.2185 41.2491C45.5354 40.5659 44.6088 40.1821 43.6427 40.1821C42.6766 40.1821 41.7501 40.5659 41.0669 41.2491C40.3838 41.9322 40 42.8587 40 43.8248C40 44.791 40.3838 45.7175 41.0669 46.4006L71.2619 76.5911L41.0669 106.781C40.3838 107.465 40 108.391 40 109.357C40 110.323 40.3838 111.25 41.0669 111.933C41.7501 112.616 42.6766 113 43.6427 113C44.6088 113 45.5354 112.616 46.2185 111.933L76.4089 81.7381L106.599 111.933C107.283 112.616 108.209 113 109.175 113C110.141 113 111.068 112.616 111.751 111.933C112.434 111.25 112.818 110.323 112.818 109.357C112.818 108.391 112.434 107.465 111.751 106.781L81.556 76.5911L111.751 46.4006Z" fill="#023145"/>
      </svg>
    <% end %>
  </div>
</div>

<script>
  // Add click event listeners to both buttons
  document.querySelector('.dislike').addEventListener('click', function() {
    this.classList.toggle('clicked'); // Toggle the 'clicked' class
  });

  document.querySelector('.like').addEventListener('click', function() {
    this.classList.toggle('clicked'); // Toggle the 'clicked' class
  });
</script>
