<h2 class= rm>ROOM.ME</h2>
<div class="profile">

  <div class="card">
    <%= cl_image_tag flatmate.profile_photo.key if flatmate.profile_photo.attached? %>
  </div>
 <div class="card">
       <div class="h-profile">
        <div class="d-flex align-items-center">
       <h4 class="headprofile"><%= flatmate.first_name %></h4>
         <span class="info">
       <%= flatmate.age %></span>
       <span class="info">
       <%= flatmate.pronouns%></span>
       </div>
       <%= flatmate.living_preference.interest %>
       <% if flatmate.living_preference.present? %>
      <%= flatmate.living_preference.aboutme %>
  </div>
  </div>


    <div class="card d-block">
      <h4 class="headprofile">Living Preferences</h4>
      <p class="pille"><%= flatmate.living_preference.cleanliness.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.smoking.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.partying.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.age.humanize %></p>
    </div>

    <div class="card d-block">
      <h4 class="headprofile"> Desired Flat Features</h4>
      <p class="pille"> <%= flatmate.living_preference.furnished.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.dishwasher.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.washingmaschine.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.balcony.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.kitchen.humanize %></p>
      <p class="pille"><%= flatmate.living_preference.bathtub.humanize %></p>
    </div>
  <% else %>
    <p>This flatmate has not set their living preferences yet.</p>
  <% end %>

  <div class="actions">
    <%= link_to 'View Profile', flatmate_path(flatmate), class: 'btn btn-primary' %>
    <%= link_to 'LIKE', flatmate_likes_path(flatmate), class: "btn btn-success", data: { turbo_method: :post} %>
    <%= link_to 'DISLIKE', flatmate_dislikes_path(flatmate), class: "btn btn-danger", data: { turbo_method: :post} %>
  </div>
</div>
