<%= link_to 'LIKE', like_path, class: "btn btn-warning" %>
<%= link_to 'DISLIKE', dislike_path, class: "btn btn-warning" %>

<h1>Flatmates Interested in Your Property</h1>

<% @flatmates.each do |flatmate| %>
  <div class="flatmate-profile">
    <h2><%= flatmate.user.email %> - <%= flatmate.city %></h2>

    <p><strong>About the Flatmate:</strong> <%= flatmate.living_preference.aboutme %></p>
    <p><strong>Interests:</strong> <%= flatmate.living_preference.interest %></p>
    <p><strong>Cleanliness:</strong> <%= flatmate.living_preference.cleanliness.humanize %></p>
    <p><strong>Smoking Preference:</strong> <%= flatmate.living_preference.smoking.humanize %></p>

    <%= image_tag flatmate.profile_picture_url if flatmate.profile_picture_url.present? %>

    <div class="actions">
      <%= link_to 'View Profile', flatmate_path(flatmate), class: 'btn btn-primary' %>
      <%= link_to 'Like', flatmate_likes_path(flatmate), method: :post, class: 'btn btn-success' %>
      <%= link_to 'Dislike', flatmate_dislikes_path(flatmate), method: :post, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
