<%# This is you - step 1 %>
<h1>This is you</h1>

<%= form_with(model: @flatmate, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control", placeholder: "Enter your first name" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Enter your last name" %>
  </div>

  <div class="form-group">
    <%= form.label :birthday %>
    <%= form.date_field :date_of_birth, class: "form-control", placeholder: "Select your birthday" %>
  </div>

  <div class="form-group">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(['Male', 'Female', 'Non-binary', 'Other']), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pronouns %>
    <%= form.text_field :pronouns, class: "form-control", placeholder: "Enter your pronouns (e.g., he/him, she/her)" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email_address, class: "form-control", placeholder: "Enter your email address" %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number, class: "form-control", placeholder: "Enter your phone number" %>
  </div>

  <div class="form-group">
    <%= form.submit "CONTINUE", class: "btn btn-warning" %>
  </div>
<% end %>
