<h1>
  Your chat with <%= @match.matched_user(current_user).first_name %>
</h1>
<div class="container chat">
  <div id="messages" class="messages">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [@match, @message],
    html: {class: "d-flex",
           data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
    <% other_user = @match.matched_user(current_user) %>
    <%= f.input :message,
      label: false,
      placeholder: "Message #{other_user.first_name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-yellow mb-3" %>
  <% end %>
</div>
