<div class='whitebg d-block p-0'>
<div class='title'><h2 class='rm'>ROOM.ME</h2></div>
  <div class="matches-header">
    <h2 class="matches-title">Matches</h2>
  </div>
  <div class="matches-container p-3">
    <% @matches.each do |match| %>
      <% if current_user.host %>
        <div class="match-bar d-flex align-items-center">
          <%= link_to flatmate_path(match.flatmate), class: "profile-link" do %>
            <div class="profile-pic flatmate-pic">
              <%= cl_image_tag match.flatmate.profile_photo.key, alt: match.flatmate.first_name, class: "avatar" if match.flatmate.profile_photo.attached? %>
            </div>
          <% end %>
          <div class="match-details ml-3">
            <div class="match-name">
              <%= match.flatmate.first_name %>
            </div>
            <div class="match-infos">
              <%= match.flatmate.district %> |
              <%= "#{match.flatmate.rent_range_min} - #{match.flatmate.rent_range_max}" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="match-bar d-flex align-items-center">
          <%= link_to host_path(match.host), class: "profile-link" do %>
            <div class="profile-pic host-pic">
              <%= cl_image_tag match.host.photos.first.key, alt: match.host.first_name, class: "avatar" %>
            </div>
          <% end %>
          <div class="match-details ml-3">
            <div class="match-name">
              <%= match.host.first_name %>
            </div>
            <div class="match-infos">
              <%= match.host.district %> |
              <%= match.host.rent %> €
              <%= match.host.room_size %> qm
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
