<!DOCTYPE html>
<html>
  <head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>RoomMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Rails Meta Tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Rails Stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Mapbox CSS -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body data-current-user-id="<%= current_user ? current_user.id : "" %>">
    <div class="page_container w-100">
      <!-- Main Content -->
      <div class="content-container">
        <%= yield %>
        <%= link_to 'TEMPORARY profile link', user_dashboard_path, class: "btn btn-primary fixed-bottom text-center" %>
      </div>

      <!-- Navbar -->
      <!-- feed -->
      <% if controller_name == "flatmates" && %w[index show].include?(action_name) || controller_name == "hosts" && %w[index show].include?(action_name) %>
        <div class="navbar-container">
          <%= render "shared/navbar_home" %>
        </div>
      <% elsif controller_name == "matches" && action_name == "index" %>
        <div class="navbar-container">
          <%= render "shared/navbar_matches" %>
        </div>
      <% elsif (controller_name == "living_preferences" && action_name == "edit") || (controller_name == "living_preferences" && action_name == "new") %>
        <div class="navbar-container">
         <%= render "shared/navbar_profile" %>
         </div>
      <% elsif controller_name == "messages" && action_name == "chat" %>
        <div class="navbar-container">
         <%= render "shared/navbar_messages" %>
        </div>
      <% end %>



      <!-- Flash Messages -->
      <%= render "shared/flashes" %>
    </div>

    <!-- JavaScript Files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Mapbox JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
  </body>
</html>
